/* Curso de Engenharia de Software - UniEVANGÉLICA 
Disciplina de Programação Web 
Dev: Douglas Leonel de Almeida
DATA: 22/03/2023 */

    .navbar{
        background-color: transparent;
        transition: background-color 0.3s ease-in-out;
    }

    .navbar.scrolled {
        background-color: #8400ff;
    }
  
    .navbar-brand {
        font-weight: bold; /* Negrito */
        color: white; /* Cor branca */
    }
  
    .nav-link {
        color: white; /* Cor branca */
    }
    
    .nav-link:hover {
        color: rgba(255, 255, 255, 0.8); /* Cor branca com transparência ao passar o mouse */
    }
