/* Curso de Engenharia de Software - UniEVANGÉLICA 
Disciplina de Programação Web 
Dev: Douglas Leonel de Almeida
DATA: 14/03/2023 */

/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
/* Estilos do Tabuleiro do Jogo */
.game-board {
    margin: 20px auto;
    width: 600px;
    background-color: #fff;
    border: 5px solid #333;
    padding: 20px;
    border-radius: 5px;
}
.game-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.game-header h1 {
    font-size: 36px;
    margin: 0;
}
.game-header p {
    font-size: 20px;
    margin: 0;
}
.game-header #timer {
    font-weight: bold;
}
.game-container {
    display: flex;
    flex-wrap: wrap;
}
.card {
    width: 120px;
    height: 120px;
    background-color: #333;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}
.card.flipped {
    transform: rotateY(180deg);
}
/* Estilos do Resultado */
.result-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.result-container h2 {
    font-size: 50px;
    color: #fff;
    margin-bottom: 20px;
}
#play-again {
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
#play-again:hover {
    background-color: #333;
    color: #fff;
}
